<div>
    <div *ngFor= "let item of content">
            <div *ngIf= "item.basket_size"> 
            <div id="row_1" class="border">
                <div class="d-flex p-1 w-100">
                    <div style="flex-basis: 70%;">
                        <div class="text-left fw-bold p-2 text-uppercase">{{item.brands}}</div>
                        <div class="text-left p-2 text-capitalize">{{item.service_etitle}}</div>
                        <div>
                            <div class="d-flex p-1 w-100"  [class.flex-row-reverse]="globals.language!=='en'">
                                <div class="text-left text-muted text-uppercase" style="flex-basis: 50%;">
                                    {{'home.size'|translate}}
                                </div>
                                <div class="text-left text-black text-uppercase" style="flex-basis: 50%;">
                                    {{item.basket_size}}
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex p-1 w-100" [class.flex-row-reverse]="globals.language!=='en'">
                                <div class="text-left text-muted text-uppercase" style="flex-basis: 50%;">
                                    {{'home.color'|translate}}
                                </div>
                                <div class="text-left" style="flex-basis: 50%;">
                                    <button  mat-mini-fab class="w-10"
                                     [ngStyle]="{'background-color':item.colour}"></button> 
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex p-1 w-100" [class.flex-row-reverse]="globals.language!=='en'">
                                <div class="text-left text-muted text-uppercase" style="flex-basis: 50%;">
                                    {{'home.sex'|translate}}
                                </div>
                                <div class="text-left text-black text-uppercase" style="flex-basis: 50%;">
                                    {{item.sex}}
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex p-1 w-100" [class.flex-row-reverse]="globals.language!=='en'">
                                <div class="text-left text-muted text-uppercase" style="flex-basis: 50%;">
                                    {{'home.nature'|translate}}
                                </div>
                                <div class="text-left text-black text-uppercase" style="flex-basis: 50%;">
                                    {{item.nature}}
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex p-1 w-100" [class.flex-row-reverse]="globals.language!=='en'">
                                <div class="text-left text-muted text-uppercase" style="flex-basis: 50%;">
                                    {{'home.scentGroup'|translate}}
                                </div>
                                <div class="text-left text-black text-uppercase" style="flex-basis: 50%;">
                                    {{item.scentGroup}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="flex-basis: 30%;">
                        <div   class="sliderImgWrapper">
                            <a target="_blank" class="link-blank text-capitalize" [routerLink]="['/product', item.do_id]">
                            <img [src]="this.globals.UrlHome+'/drm/users/1/'+item.do_id+'/1.jpg'" class="w-100">
                            </a>
                            <div class="overlay">
                            <button (click)="deleteFromBasket(item)"  mat-icon-button class="overlayImage"  color="basic">
                            <mat-icon  style="font-size: 2.7em !important;">cancel</mat-icon>
                            </button>
                            </div>    
                         </div>
                    </div> 
                </div>
            </div>
            <div id="row_2">
                <div class="d-flex p-1 w-100" [class.flex-row-reverse]="globals.language!=='en'">
                    <div class="text-left text-muted text-uppercase" style="flex-basis: 25%;">
                        {{'home.price'|translate}}
                    </div>
                    <div class="text-center text-black text-uppercase text-decoration-line-through" style="flex-basis: 25%;">
                        {{item.do_price| number:'0.0-0'}}  {{'home.money'|translate}}
                    </div>
                    <div class="text-left text-muted text-uppercase" style="flex-basis: 25%;">
                        
                    </div>
                    <div class="text-center text-black text-uppercase" style="flex-basis: 25%;">
                    </div>
                </div>
                <div class="d-flex p-1 w-100" [class.flex-row-reverse]="globals.language!=='en'">
                    <div class="text-left text-muted text-uppercase" style="flex-basis: 25%;">
                        {{'home.discount'|translate}}
                    </div> 
                    <div class="text-center text-black text-uppercase" style="flex-basis: 25%;">
                        {{(item.do_price*item.do_certificate/100)| number:'0.0-0'}}
                        
                    </div>
                    <div class="text-left" style="flex-basis: 25%;">
                         
                    </div>
                    <div class="text-center  text-uppercase text-black" 
                    style="flex-basis: 25%;">
                    
                    </div>
                </div>
                <div class="d-flex p-1 w-100" [class.flex-row-reverse]="globals.language!=='en'">
                    <div class="text-left text-muted text-uppercase" style="flex-basis: 25%;">
                        {{'home.count'|translate}}
                    </div>
                    <div class="text-center text-black text-uppercase" style="flex-basis: 25%;">
                        {{item.basket_count}} 
                       
                    </div>
                    <div class="text-left" style="flex-basis: 25%;">
                         
                    </div>
                    <div class="text-center  text-uppercase text-black" 
                    style="flex-basis: 25%;">
                    </div>
                </div>
        
                <div class="d-flex p-1 w-100" [class.flex-row-reverse]="globals.language!=='en'">
                    <div style="flex-basis: 25%;" class="text-left text-uppercase">
                        {{'home.final'|translate}}
                    </div>
                    <div class="text-center price xx-large fw-bold text-uppercase" style="flex-basis: 25%;">
                        {{(item.price_after*item.basket_count)| number:'0.0-0'}}  {{'home.money'|translate}}
                    </div>
                    <div class="text-left price xx-large fw-bold" style="flex-basis: 50%;">
                    </div>
             
                </div>

            </div>            
        </div>
    </div>
</div>
<div *ngIf= "sum">
    <div class="d-flex p-1 w-100" [class.flex-row-reverse]="globals.language!=='en'">
        <div style="flex-basis: 50%;" class="text-center text-uppercase">
            {{'home.total'|translate}}
        </div>
        <div class="text-center price xx-large text-uppercase" style="flex-basis: 50%;">
            {{sum| number:'0.0-0'}}   {{'home.money'|translate}}
        </div>

    </div>
    <div class="d-flex p-1 w-100" [class.flex-row-reverse]="globals.language!=='en'">
        <div style="flex-basis: 50%;" class="text-center text-uppercase">
            {{'home.discount'|translate}}
        </div>
        <div class="text-center price x-large text-uppercase" style="flex-basis: 50%;">
            {{sum-final| number:'0.0-0'}} {{'home.money'|translate}}
        </div>

    </div>
    <div class="d-flex p-1 w-100" [class.flex-row-reverse]="globals.language!=='en'">
        <div style="flex-basis: 50%;" class="text-center xx-large fw-bold text-uppercase">
            {{'home.final'|translate}}
        </div>
        <div class="text-center fw-bold xx-large text-uppercase" style="flex-basis: 50%;">
            {{final| number:'0.0-0'}} {{'home.money'|translate}}
        </div>

    </div>
</div> 
<div class="p-2 text-right w-100  d-inline-block" >

    <a *ngIf= "final>0" [href]="this.globals.UrlHome+'/drm/bank/myindex.php?uid='+globals.loginedUserID+'&price='+(final*('home.relation'|translate))" >
        <div  class="cursor-pointer fw-bold p-3 button w-50 text-center"
        [class.w-100]="!globals.devicePc" 
        >
            {{'home.payment'|translate}}  {{final| number:'0.0-0'}} {{'home.money'|translate}} 
        </div>
    </a>
   <div *ngIf= "final>0" class="w-100 pt-4">
    <div [class.text-left]="globals.language==='en'" [class.text-right]="globals.language!=='en'" class=" w-100 p-1 text-left">
        <div>
            <strong>
                DogeCoin  {{'home.payment'|translate}}
           </strong>
        </div>       
    <div class="fw-bold border-bottom border-3 text-left p-1 w-25 d-inline-block" ></div> 
    </div>    
    <div class="row fw-bold text-left">
        <div class="text-success fw-bold  xx-large">
            {{dogePrice| number:'0.0-4'}} DOG
        </div>
        <br>
       <div class="fw-bold text-left">
        DBPPoWhHpUxUNKi2mogCXLD4FREh4g6wpp
       </div>
       <div class="fw-bold text-left">
        NETWORK : DOGECOIN
       </div>
       <br>
    </div>
        <div class="fw-bold text-left">
         <img [src]="globals.UrlHome+'/img/dogecoin.jpg'"  
         [class.w-25]="globals.devicePc"  
         [class.w-100]="!globals.devicePc" >
        </div>
        <br>
        <div class="fw-bold text-left" (click)="globals.unhyperAction='contact'">
        <span> Contact</span> us after payment 
        </div> 
        <div class="fw-bold text-left" (click)="globals.unhyperAction='contact'">
           REMEMBER YOUR ID : <span>UMA{{content[0].user_id}}</span>  
        </div>
   </div>  
    <a *ngIf= "final===0">
        <img [src]="globals.UrlHome+'/img/empty.png'" class="w-50 opacity-50">
    </a>
</div>