<div *ngIf= "globals.masterAction!=='mustLogin'">
<mat-drawer-container style="background-color: white !important;" [hasBackdrop]="'True'">
<mat-drawer-content>
<div>
    <div class="w-100" >
        <app-are-header (drawerToggleToHome)="drawerToggleToHome()" (searchWord)="filterChanged('search',$event)"></app-are-header>
    </div> 
    <div class="w-100 text-center">
      <div class="inline-block w-100 ">
        <div class="d-flex p-1 w-100 w-100" [class.flex-row-reverse]="globals.language!=='en'">   
          <div 
          class="div-filters m-1"
          [class.scroller] = "!globals.devicePc" 
          [class.dir-rtl]="globals.language==='ar'" 
          [class.visible-div] = "globals.filterVIsibilityForMobile && !globals.devicePc" 
          [class.invisible-div] = "!globals.filterVIsibilityForMobile && !globals.devicePc"  
          [class.device-Mobil] = "globals.devicePc" [class.fix-div] = "!globals.devicePc" >  
            <div [class.dir-rtl]="globals.language==='ar'">
              <app-filter-categories [parentProductBranch]="id" [childProductBranch]="city" ></app-filter-categories>
            </div>
            <div class="w-100">
              <app-filter-brand (brandChanged)="filterChanged('brand',$event)" ></app-filter-brand>
            </div>
            <div class="w-100">
              <app-filter-madein (madeinChanged)="filterChanged('madein',$event)" ></app-filter-madein>
            </div>            
            <div class="w-100">
              <app-filter-color (colorFiltered)="filterChanged('color',$event)"></app-filter-color>
            </div>
            <div>
              <app-filter-price  (priceFiltered)="filterChanged('price',$event)"></app-filter-price>
            </div> 
            <div> 
              <app-filter-nature   (scentNatureChanged)="filterChanged('scentNature',$event)"></app-filter-nature>
            </div>  
            <div> 
              <app-filter-scent-exact  (scentExactChanged)="filterChanged('scentExact',$event)" ></app-filter-scent-exact>
            </div> 
            <div> 
              <app-filter-scent-groups   (scentGroupsChanged)="filterChanged('scentGroup',$event)"></app-filter-scent-groups>
            </div>
            <div>
              <app-filter-size   (sizeChanged)="filterChanged('size',$event)"></app-filter-size>
            </div>
            <div> 
              <app-filter-sex   (sexChanged)="filterChanged('sex',$event)"></app-filter-sex>
            </div> 
            <div>
              <app-filter-perfumer   (perfumerChanged)="filterChanged('perfumer',$event)"></app-filter-perfumer>
            </div> 
          </div>
          <div id="beginPrd"></div>
          <div [class.device-Pc] = "!globals.devicePc"  [class.device-Pc-low] = "globals.devicePc"  class="w-100  m-1"  >  
            <div *ngIf= "(globals.unhyperAction==='zoom') || (globals.unhyperAction2==='zoom')">
              <app-product-page></app-product-page>
            </div>        
            <div  *ngIf= "
                (globals.unhyperAction2!=='zoom') && 
                (globals.unhyperAction!=='signin') && 
                (globals.unhyperAction!=='contact') && 
                (globals.unhyperAction!=='orders') && 
                (globals.unhyperAction!=='zoom') && 
                (globals.unhyperAction!=='profile') && 
                (globals.unhyperAction!=='writecontent') && 
                (globals.unhyperAction!=='shop-card') && 
                (globals.unhyperAction!=='wishlist')"
            >
                  <app-product-pool 
                  [language]="globals.language"
                  [madeinChangedValue]="globals.madeinFiltered"
                  [perfumerChanged]="perfumerChangedValue"
                  [patternChanged]="patternChangedValue"
                  [scentGroupChanged]="scentGroupChangedValue"
                  [scentExactChanged]="scentExactChangedValue"
                  [sexChanged]="sexChangedValue"
                  [scentChanged]="scentChangedValue"
                  [scentNatureChanged]="scentNatureChangedValue"
                  [priceChanged]="priceChangedValue"
                  [sizeChanged]="sizeChangedValue"
                  [colorChanged]="colorChangedValue"
                  [brandChangeds]="brandChangedValue"
                  [searchChangedValue]="searchChangedValue"
                  [childProductBranch]="city" 
                  [parentProductBranch]="id"
                  ></app-product-pool>
            </div>
            <div  *ngIf= "(globals.unhyperAction2==='signin' || globals.unhyperAction==='signin') && !globals.loginedUser">
              <div class="w-100 text-center lower-width">
                  <div class="center-div  d-flex p-1 w-100 inline-block m-2">
                      <div class="row">
                        <div class="col-md-6" >
                              <app-user-signup></app-user-signup>
                      </div>
                      <div class="col-md-6" >
                        <app-user-signin></app-user-signin>
                  </div>
                  </div>
                </div>
                <br>
                <br>
            </div>   
          </div>
          <div   *ngIf= "globals.unhyperAction==='profile'">
            <app-user-profile></app-user-profile>
          </div>
          <div   *ngIf= "globals.unhyperAction==='wishlist'">
            <app-user-wishlist></app-user-wishlist>
          </div> 
          <div   *ngIf= "globals.unhyperAction==='shop-card'">
            <app-user-basket></app-user-basket>
          </div> 
          <div   *ngIf= "globals.unhyperAction==='orders'">
            <app-user-orders></app-user-orders>
          </div>       
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-are-footer [languageChanged]="languageChanged"></app-are-footer>
    </div>
</div>
  </mat-drawer-content>
  <mat-drawer  class="bg-black" [class.w-75] = "!globals.devicePc" 
   [class.w-25] = "globals.devicePc" #drawer [mode]="'over'" >  
       <app-user-menu (click)="drawer.toggle();"></app-user-menu>                    
</mat-drawer>
</mat-drawer-container>   
</div>