<div [class.text-left]="globals.language==='en'" [class.text-right]="globals.language!=='en'" class=" w-100 p-1 text-left">
    <div class="fw-bold small">
        {{'home.madein'|translate}}
    </div>       

    <div *ngFor= "let item of madeinlList;let i=index" >
    <div (click)="countryChangedFunction(item.do_location)" class="d-flex p-1 w-100" *ngIf= "(i<len)">
        <div style="flex-basis:12%">
            <img 
            [routerLink]="['/home','madein',item.do_location ]"
            [src]="globals.UrlHome+'/img/flags/'+item.do_location+'.gif'" class="w-100 pr-1 pb-1 rounded">
       
            </div>

        <div style="flex-basis:78%">  
           <div [class.text-left]="globals.language==='en'" [class.text-right]="globals.language!=='en'" class="text-uppercase cursor-pointer text-left text-button">
            {{item.do_location}}
           </div>
       </div>
        <div style="flex-basis:10%" > 
            <mat-checkbox 
            [disabled]="true"
            [(ngModel)]="item.do_location===globals.madeinFiltered">
            </mat-checkbox>
         </div>
    </div> 
    </div>
    <p *ngIf= "len>5" class="cursor-pointer small text-center text-muted" (click)="len=5">
        {{'home.hide'|translate}}
    </p>
    <p *ngIf= "len===5 && (madeinlList.length>5)" class="cursor-pointer small text-center text-muted" (click)="len=100">
        {{'home.show'|translate}}
    </p>
</div> 