<div class="bg-black"  >
    <div >
      <div class="p-4">
        <a id="carpet" [class.xxx-large]="globals.devicePc" 
        class="logo text-center" href=" /">
        Burj Crown
        </a> 
       </div>
      <div class="d-flex p-1 w-100">
        <div style="flex-basis:90%" > 
        </div>
        <div style="flex-basis:10%">
        </div>
          </div>  
    </div>
    <div (click)="globals.unhyperAction='profile'" class="menuUser">
      <div class="d-flex p-1 w-100">
        <div style="flex-basis:4%" class="text-button text-white pr-2"> 
          <i  class="fa fa-user-circle gold-icon"></i>

        </div>
        <div class="text-button text-white pr-2" [routerLink]="['/home', 'profile' ]" style="flex-basis:96%">
          {{'home.profile'|translate}}

          </div>
     
   
          </div>
    </div>
    <div  class="menuUser">
      <div class="d-flex p-1 w-100">
        <div style="flex-basis:4%"  class="text-button text-white pr-2"> 
          <i  class="fas fa-shopping-cart gold-icon "></i>

        </div>
        <div (click)="globals.unhyperAction='shop-card'"  [routerLink]="['/home', 'shop-card' ]" class="text-button text-white pr-2" style="flex-basis:96%">
          {{'home.Mybag'|translate}}
        </div>
          </div>
    </div>        
    <div  class="menuUser">
      <div class="d-flex p-1 w-100">
        <div style="flex-basis:4%"  class="text-button text-white pr-2"> 
          <i  class="fas fa-heart gold-icon"></i>
        </div>
        <div class="text-button text-white pr-2" (click)="globals.unhyperAction='wishlist'"  [routerLink]="['/home', 'wishlist' ]" style="flex-basis:96%">
          {{'home.saved'|translate}}
        </div>
          </div>
    </div>
    <div  class="menuUser">
      <div class="d-flex p-1 w-100">
        <div style="flex-basis:4%"  class="text-button text-white pr-2"> 
          <i  class="fa fa-gift gold-icon"></i>

        </div>
        <div (click)="globals.unhyperAction='orders'" [routerLink]="['/home', 'orders' ]" class="text-button text-white pr-2"  style="flex-basis:96%">
           {{'home.myOrders'|translate}}
        </div>
    
    
          </div>
    </div>
    <div (click)="globals.unhyperAction='contact'" [routerLink]="['/contact']"  class="menuUser">
      <div class="d-flex p-1 w-100">
        <div style="flex-basis:4%"  class="text-button text-white pr-2"> 
          <i  class="fas fa-phone gold-icon"></i>

        </div>
        <div class="text-button text-white pr-2"  style="flex-basis:96%">
          {{'home.contactUs'|translate}}
        </div>
   
   
          </div>
    </div>
    <div   class="menuUser">
      <div class="d-flex p-1 w-100">
        <div style="flex-basis:4%"  class="text-button text-white pr-2"> 
          <i  class="fas fa-sign-out-alt gold-icon"></i>

        </div>
        <div (click)="logOut()" class="text-button text-white pr-2"  style="flex-basis:96%">
          {{'home.signOut'|translate}}
        </div>
          </div>
    </div>
</div>   