<nav class="navbar navbar-expand-lg navbar-light bg-black py-3 shadow-sm"> 
    <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none">MegaMenu</a> <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"> <span class="navbar-toggler-icon"></span> </button>
    <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a [routerLink]="['/master']" class="nav-link font-weight-bold text-uppercase text-white ">{{'home.home'|translate}}</a></li>
            <li class="nav-item"><a [routerLink]="['/home','campaign', '4' ]" (click)="clearFilters()" class="nav-link font-weight-bold text-uppercase text-white ">{{'home.offers'|translate}}</a></li>
            <li class="nav-item"><a [routerLink]="['/brands']" class="nav-link font-weight-bold text-uppercase text-white ">{{'home.brand'|translate}}</a></li>
            <li class="nav-item"><a [routerLink]="['/home']" class="nav-link font-weight-bold text-uppercase text-white ">{{'home.browse'|translate}}</a></li>
            <li class="nav-item"><a [routerLink]="['/contact']" class="nav-link font-weight-bold text-uppercase text-white ">{{'home.contactUs'|translate}}</a></li>
        </ul>
    </div>
</nav> 