<div  class="bg-white z-index1">
    <div *ngIf=  "globals.devicePc" class="d-flex p-1 w-100">
        <div style="flex-basis: 40%;" class="text-center">
            <hr>
        </div>
        <div style="flex-basis: 20%;" class="text-center fw-bold ">
            {{title}}
        </div>
        <div style="flex-basis: 40%;" class="text-center">
            <hr>
        </div>
    </div>
    <div  *ngIf=  "!globals.devicePc" >
        <div class="text-center fw-bold ">
            {{title}}
        </div>
    </div>
    <br>
    <div>
        <carousel 
        *ngIf= "content"
        [height]=height
        [autoplay]=autoplay
        [cellsToScroll]="cellsToScroll"
        [width]="width" 
        [arrows]="globals.devicePc"
        [arrowsOutside]=true
        [cellsToShow]=cellsToShow>
        <div class="carousel-cell" *ngFor= "let item of counter;let i=index">
            <div  *ngIf= "content[item]" >
            <div  *ngIf= "title==='BRANDS'" >
                <a [routerLink]="['/home','brand',this.content[item].brand ]">
                    <img class="w-100" [src]="imgobj[item]">
                </a>
            </div>
            <div *ngIf= "title!=='BRANDS'">
            <app-product-thumbnail [product]="content[item]" showType="more_column" [chips]="false"></app-product-thumbnail>
            </div>
        </div>
        </div>
    </carousel>
    </div>
</div>