<div class="w-100 p-4 mt-4"  [class.text-right]="globals.language!=='en'"  [class.text-left]="globals.language==='en'">
    <form [formGroup]="checkoutForm" (ngSubmit)="insertComment()">
    <textarea name="comment" id="comment" formControlName="comment" class="w-100"></textarea>
    <br>
    <button type="submit" class=" btn-outline-warning yekan small">
        {{'home.submit'|translate}}
    </button>
    </form>
</div>
<div *ngFor= "let item of content" class="p-1 border rounded m-4">
    <div class="text-left text-muted small m-2">{{item.content}}</div>
    <div class="text-left small text-muted m-2">{{item.user_name}}</div>
</div> 