
<div class="bg-black w-100 text-center p-2">
   <div class="lower-width inline-block">
    <div class="row">
        <div class="p-2 col-md-4">
            <div class="large text-left fw-bold"  [class.text-right]="globals.language!=='en'">
                 <a class="large text-left fw-bold text-white text-decoration-none" 
                 [routerLink]="['/home','sort', 'new' ]">
                 {{'home.NewProducts'|translate}}
                 </a>
            </div>
            <div>
            <div class="w-100 text-left"  [class.text-right]="globals.language!=='en'" > 
               <div class="fw-bold border-bottom border-3 p-1 w-25 d-inline-block" ></div>
            </div>
           </div>
            <div *ngFor= "let item of contentNews">
                <a target="_blank" class="text-white text-decoration-none" [routerLink]="['/product',item.do_id ]">
                <div class="d-flex p-1 w-100 bottom-line"  [class.flex-row-reverse]="globals.language!=='en'">
                    <div style="flex-basis: 20%;" >
                    <img class="w-75 text-center cursor-pointer"  [src]="globals.UrlHome+'/drm/users/1/'+item.do_id+'/1.jpg'">
                    </div>
                    <div style="flex-basis: 80%;" class="p-2">
                        <div class="text-left dir-ltr small text-capitalize">
                            {{item.service_etitle}}&nbsp;{{item.sizes}}&nbsp;
                            {{item.scentGroup}}&nbsp;{{item.sex}}&nbsp;{{item.perfumer}}
                    </div>
                        <div  class="text-left dir-ltr text-capitalize">{{item.brands}}</div>
                        <div >
                            <div class="d-flex p-1 w-100">
                                <div style="flex-basis: 40%;" class="text-decoration-line-through text-muted small text-left">
                                    {{item.do_price}} 
                                </div>
                                <div style="flex-basis: 60%;" class="text-white text-left">
                                    {{item.price_after}}  {{'home.money'|translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="p-2 col-md-4">
            <div class="large text-left fw-bold"  [class.text-right]="globals.language!=='en'">
                <a class="large text-left fw-bold text-white text-decoration-none" [routerLink]="['/home','sort', 'buy' ]">
                {{'home.TopProducts'|translate}}
                </a>
            </div>
            <div>
               <div class="w-100 text-left"  [class.text-right]="globals.language!=='en'" > 
               <div class="fw-bold border-bottom border-3 p-1 w-25 d-inline-block" ></div>
            </div>
            </div>
            <div *ngFor= "let item of contentTop">
                <a target="_blank"  class="text-white text-decoration-none" [routerLink]="['/product',item.do_id ]">
                    <div class="d-flex p-1 w-100 bottom-line"  [class.flex-row-reverse]="globals.language!=='en'">
                        <div style="flex-basis: 20%;">
                        <img class="w-75 text-center cursor-pointer"  [src]="globals.UrlHome+'/drm/users/1/'+item.do_id+'/1.jpg'">
                        </div>
                        <div style="flex-basis: 80%;" class="p-2">
                            <div class="text-left dir-ltr small text-capitalize">
                                {{item.service_etitle}}&nbsp;{{item.sizes}}&nbsp;
                                {{item.scentGroup}}&nbsp;{{item.sex}}&nbsp;{{item.perfumer}}
                            </div>
                            <div  class="text-left dir-ltr text-capitalize">{{item.brands}}</div>
                            <div >
                                <div class="d-flex p-1 w-100">
                                    <div style="flex-basis: 40%;" class="text-decoration-line-through text-muted small text-left">
                                        {{item.do_price}}  {{'home.money'|translate}}
                                    </div>
                                    <div style="flex-basis: 60%;" class="text-white text-left">
                                        {{item.price_after}}  {{'home.money'|translate}}
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                   
                    </div>
                </a>
            </div>
        </div>
        <div class="p-2 col-md-4">
            <div class="large text-left fw-bold" [class.text-right]="globals.language!=='en'">
                <a class="large text-left fw-bold text-white text-decoration-none" [routerLink]="['/home','sort', 'sale' ]">
                
                {{'home.OfferProducts'|translate}}

                </a>
            </div>
            <div>
                            <div class="w-100 text-left"  [class.text-right]="globals.language!=='en'" > 
               <div class="fw-bold border-bottom border-3 p-1 w-25 d-inline-block" ></div>
            </div>
            </div>
            <div *ngFor= "let item of contentOffer">
                <a target="_blank"  class="text-white text-decoration-none" [routerLink]="['/product',item.do_id ]">
                    <div class="d-flex p-1 w-100 bottom-line"  [class.flex-row-reverse]="globals.language!=='en'">
                        <div style="flex-basis: 20%;">
                        <img class="w-75 text-center cursor-pointer"  [src]="globals.UrlHome+'/drm/users/1/'+item.do_id+'/1.jpg'">
                        </div>
                        <div style="flex-basis: 80%;" class="p-2">
                            <div class="text-left dir-ltr small text-capitalize">
                                {{item.service_etitle}}&nbsp;{{item.sizes}}&nbsp;
                                {{item.scentGroup}}&nbsp;{{item.sex}}&nbsp;{{item.perfumer}}
                            </div>
                            <div  class="text-left dir-ltr text-capitalize">{{item.brands}}</div>
                            <div >
                                <div class="d-flex p-1 w-100">
                                    <div style="flex-basis: 40%;" class="text-decoration-line-through text-muted small text-left">
                                        {{item.do_price}} {{'home.money'|translate}}
                                    </div>
                                    <div style="flex-basis: 60%;" class="text-white text-left">
                                        {{item.price_after}} {{'home.money'|translate}}
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                   
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex p-1 w-100 dark row pb-2"  [class.flex-row-reverse]="globals.language!=='en'">
      <div class="col-md-6">
            <div class="text-white text-left"  [class.text-right]="globals.language!=='en'">
                {{'home.copyright'|translate}}
            </div>
      </div>
      <div class="col-md-6 p-2"  [class.text-right]="globals.language!=='en'">  
            <div class="d-flex p-1 w-100"  [class.text-right]="globals.language!=='en'">
                <div style="flex-basis: 5%;" >                                 
                    <img [src]="globals.UrlHome+'/img/icon/footer/bitcoin.png'" class="w-100 ">
                </div>
                <div style="flex-basis: 5%;" >
                <img  [src]="globals.UrlHome+'/img/icon/footer/dogecoin.png'" class="w-100 ">
                </div>
                <div style="flex-basis: 5%;" >
                    <img  [src]="globals.UrlHome+'/img/icon/footer/wm.png'" class="w-100 ">
                </div>
            </div>
      </div>
    </div>
    <div [class.text-left]="globals.language==='en'" [class.text-right]="globals.language==='ar'"  class="text-white">
        {{'home.footerText'|translate}}
    </div>
   </div>
</div>
 
