<div  class="bg-clear z-index1 " *ngIf= "content">
    <div *ngIf=  "globals.devicePc" class="bg-light-dark d-flex p-1 w-100 text-left pb-2 fw-bold mb-1" 
    [class.text-right]="globals.language!=='en'">
    {{'home.SAME'|translate}}  &nbsp;

        <div *ngIf=  "how==='price's">
        {{'home.price'|translate}}
        </div>
        <div *ngIf=  "how==='brand'">
        {{'home.brand'|translate}}
        </div>
        <div *ngIf=  "how==='scent'">
        {{'home.scent'|translate}}
        </div>          
    </div>
    <div [class.lower-width]="globals.devicePc"  class="bg-clear">
        <carousel
        class="bg-clear"
        *ngIf= "content"
        [height]=height
        [width]="width"
        [arrows]="globals.devicePc"
        [arrowsOutside]=true
        [dots]=true
        [cellsToShow]=cellsToShow>
        <div class="carousel-cell bg-clear" *ngFor= "let item of content;let i=index">
        <app-product-thumbnail  [chips]="false" [target]="'similar'" [product]="item" showType="more_column"></app-product-thumbnail>      
        </div>
        </carousel>
    </div>
</div> 