<div *ngFor= "let item of content">
<div class="fw-bold border-bottom text-left p-1 w-25">
    Payment ID : M{{item.refid}}
</div>
<div>
    <div class="d-flex p-1 w-100">
        <div style="flex-basis: 50%;" class="text-left">
            payment status
        </div>
        <div style="flex-basis: 50%;" class="text-right">
            Successfull
        </div>
    </div>

    <div class="d-flex p-1 w-100">
        <div style="flex-basis: 50%;" class="text-left">
            Date
        </div>
        <div style="flex-basis: 50%;" class="text-right">
            {{item.dates}}
        </div>
    </div>

    <div class="d-flex p-1 w-100">
        <div style="flex-basis: 50%;" class="text-left">
            Referal ID
        </div>
        <div style="flex-basis: 50%;" class="text-right">
           {{item.refid}}
        </div>
    </div>

    <div class="d-flex p-1 w-100">
        <div style="flex-basis: 50%;" class="text-left">
            Total price
        </div>
        <div style="flex-basis: 50%;" class="text-right">
            {{item.price}}
        </div>
    </div>

    <div class="d-flex p-1 w-100">
        <div style="flex-basis: 50%;" class="text-left">
            Postal Code
        </div>
        <div style="flex-basis: 50%;" class="text-right">
            {{item.postalcode}}
        </div>
    </div>
    <div>
    </div>
</div>
</div>