<div class="overflow-auto" >
<div class="center" *ngIf= "sortProgress">
    <mat-progress-bar  class="app-progress-bar lower-width" [color]="'accent'" mode="indeterminate"></mat-progress-bar>
  </div>
<div [class.text-left]="globals.language==='en'" [class.text-right]="globals.language!=='en'" class=" w-100 p-1 text-left">
    <div class="fw-bold small">
        {{'home.category'|translate}}
    <div>
        <div class="text-right" *ngIf= "!globals.devicePc" (click)="globals.filterVIsibilityForMobile=false" style="flex-basis: 30%;">
            <i class="fa fa-window-close fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</div>
<div>
<div *ngIf= "level===1">
<div class="text-left p-1" *ngFor= "let row of dataBranches;index as i;">
    <a class="text-uppercase" (click)="globals.unhyperAction='home'" [class.selected-text]="parentProductBranch===row.service_branch_ename"    
    [routerLink]="['/location', row.service_branch_ename]">
        <strong>{{row.service_branch_ename.charAt(0)}}</strong>{{row.service_branch_ename.substring(1, row.service_branch_ename.length).toLowerCase()}}
    </a>
</div>
</div>
<div *ngIf= "(level===2)"  [class.text-left]="globals.language==='en'" [class.text-right]="globals.language!=='en'">
    <div class="text-left p-1" *ngFor= "let row of dataTypes;index as i;"
    [class.text-left]="globals.language==='en'" [class.text-right]="globals.language!=='en'">
        <a *ngIf= "globals.language==='en'"
         (click)="loadBranchesChild()"
         class="cursor-pointer text-left text-button text-uppercase"
         [class.selected-text]="globals.typeFiltered===row.service_type_etitle"    
        [routerLink]="['/location/',parentProductBranch, row.service_type_etitle]">{{row.service_type_etitle}}</a>

        <a *ngIf= "globals.language==='ar'"
        (click)="loadBranchesChild()"
        class="cursor-pointer text-left text-button text-uppercase"
        [class.selected-text]="globals.typeFiltered===row.service_type_etitle"    
       [routerLink]="['/location/',parentProductBranch, row.service_type_etitle]">{{row.service_type_title}}</a>        

       <a *ngIf= "globals.language==='fa'"
       (click)="loadBranchesChild()"
       class="cursor-pointer text-left text-button text-uppercase"
       [class.selected-text]="globals.typeFiltered===row.service_type_etitle"    
      [routerLink]="['/location/',parentProductBranch, row.service_type_etitle]">{{row.service_type_fa_etitle}}</a>               
    </div>
</div> 
</div>          
</div>