<div [class.text-left]="globals.language==='en'" [class.text-right]="globals.language!=='en'" class=" w-100 p-1 text-left">
    <div class="fw-bold small">
        {{'home.size'|translate}}
    </div>
    <div *ngFor= "let item of sizeList;let i=index" >
    <div (click)="sizeChangedFunction(item.size)" class="d-flex p-1 w-100" *ngIf= "(i<len)">
        <div style="flex-basis:90%">  
           <div [class.text-left]="globals.language==='en'" [class.text-right]="globals.language!=='en'" class="text-uppercase cursor-pointer text-left text-button">
            {{item.size}}
           </div> 
       </div>
        <div style="flex-basis:10%" > 
            <mat-checkbox 
            [disabled]="true"
            [(ngModel)]="item.size===globals.sizeFiltered">
            </mat-checkbox>
         </div>
    </div> 
    </div>
    <p *ngIf= "len>5" class="cursor-pointer small text-center text-muted" (click)="len=5">
        {{'home.hide'|translate}}
    </p>
    <p *ngIf= "len===5 && (sizeList.length>5)" class="cursor-pointer small text-center text-muted" (click)="len=100">
        {{'home.show'|translate}}
    </p>
</div> 